:root {
    --bg-primary: #ad9ed3 !important;
    --bg-secondary: #44235e !important;
}

.navbar {
    background: linear-gradient(
        180deg,
        white 50%,
        transparent 80%
    );
}
    
h1 {
    color: var(--bg-secondary);
    font-weight: 600;
}

body {
    background-color: blue;
}