{% extends 'users/main.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock title %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12" style="padding-top: 30px;margin-top: 71px;padding-bottom: 10px;">
                <div style="padding-bottom: 0px;border-bottom-style: none;border-bottom-color: var(--bs-secondary-color);">
                    <div class="col-12">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="mt-2 mb-5 alert alert-{{ message.tags }}">
                                    <small>{{ message }}</small>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="col">
                            <h1 class="text-light">Explore</h1>
                        </div>
                        {% if user.role == 'CONTRIBUTOR' %}
                            <div class="col-lg-2"><span class="badge bg-dark">Contributor</span></div>
                        {% elif user.role == 'STUDENT' %}
                            <div class="col-lg-2"><span class="badge bg-primary">Student</span></div>
                        {% elif user.role == 'MODERATOR' %}
                            <div class="col-lg-2"><span class="badge bg-tertiary">Moderator</span></div>
                        {% endif %}
                    </div>
                </div>
                {% if user.role == 'STUDENT' %}
                    {% if student_content|length > 0 %}
                        <div class="row">
                            {% for content in student_content %}
                                <div style="margin: 30px 0px 0px;margin-top: 36px;">
                                    <div class="row" style="margin-bottom: 30px;">
                                        <div class="col-lg-6 col-xl-6">
                                            <div class="card main-card">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-lg-4 d-lg-flex justify-content-lg-center align-items-lg-center " style="display: flex;">
                                                            {% for contr in contributors %}
                                                                {% if contr.user == content.user %}
                                                                    <img class="border rounded-circle card-profile-pic" alt="" src="{{ contr.image }}">
                                                                {% else %}
                                                                <img class="border rounded-circle card-profile-pic" alt="" src="{{ profile.image.url }}">
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                        <div class="col">
                                                            <div>
                                                                <div class="row">
                                                                    <div class="col-lg-12">
                                                                        {% if content.user.first_name != '' and content.user.last_name != '' %}
                                                                            <h5>{{ content.user.first_name }} {{ content.user.last_name }}</h5>
                                                                        {% else %}
                                                                            <h5>{{ content.user.username }}</h5>
                                                                        {% endif %}
                                                                    </div>
                                                                    <div class="col-lg-12">
                                                                        <p class="text-muted" style="margin-bottom: 0px;">{{ content.user.email }}</p>
                                                                        <p class="text-muted">{{ content.created_at }}</p>
                                                                    </div>
                                                                </div>
                                                                <h6>{{ content.title }}</h6>
                                                                <p>{{ content.description }}</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-12">
                                                            <div>
                                                                <div class="row">
                                                                    <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-end justify-content-sm-end justify-content-md-end justify-content-lg-end justify-content-xl-end" style="display: flex;">
                                                                        <a class="btn btn-primary" href="{% url 'content-view' content_id=content.id %}">Read Article</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div>
                            <div class="row" style="margin-top: 28px;">
                                <div class="col-lg-12 d-flex justify-content-center">
                                    <h1><span style="color: rgba(33, 37, 41, 0.53);">Nothing to show here</span></h1>
                                </div>
                                <div class="col d-flex justify-content-center"><small>If there are an tasks left undone, they will show here</small></div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                {% if contents and contents|length > 0 %}
                    {% if user.role == 'MODERATOR' %}
                        <div style="margin: 30px 0px 0px;margin-top: 36px;">
                                <div class="row" style="margin-bottom: 30px;">
                                    {% for content in contents %}
                                        <div class="col-lg-6 col-xl-6">
                                            <div class="card main-card mb-3">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-lg-4 d-lg-flex justify-content-lg-center align-items-lg-center " style="display: flex;">
                                                            {% for c in c_profiles %}
                                                                {% if c.user == content.user %}
                                                                    <img class="border rounded-circle" alt="" width="100px" height="100px" src="{{ c.image.url }}">
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                        <div class="col">
                                                            <div>
                                                                <div class="row">
                                                                    <div class="col-lg-12">
                                                                        {% if content.user.first_name != '' and content.user.last_name != '' %}
                                                                            <h5>{{ content.user.first_name }} {{ content.user.last_name }}</h5>
                                                                        {% else %}
                                                                            <h5>{{ content.user.username }}</h5>
                                                                        {% endif %}
                                                                    </div>
                                                                    <div class="col-lg-12">
                                                                        <p class="text-muted" style="margin-bottom: 0px;">{{ content.user.email }}</p>
                                                                        <p class="text-muted">{{ content.created_at }}</p>
                                                                    </div>
                                                                </div>
                                                                <h6>{{ content.title }}</h6>
                                                                <p>{{ content.description }}</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-12">
                                                            <div>
                                                                <div class="row">
                                                                    <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex align-items-center align-items-sm-center align-items-md-center align-items-lg-center align-items-xl-center align-items-xxl-center">
                                                                        {% if content.approved == 'Approved' %}
                                                                            <span class="badge bg-success">Approved</span>
                                                                        {% elif content.approved == 'Not Approved' %}
                                                                            <span class="badge bg-danger">Not Approved</span>
                                                                        {% else %}
                                                                            <span class="badge bg-warning">Pending</span>
                                                                        {% endif %}
                                                                    </div>
                                                                    <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-end justify-content-sm-end justify-content-md-end justify-content-lg-end justify-content-xl-end" style="display: flex;">
                                                                        <a class="btn btn-primary" href="{% url 'content-view' content_id=content.id %}">Read Article</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                        </div>
                    {% elif user.role == 'CONTRIBUTOR' %}
                        <div style="margin: 30px 0px 0px;margin-top: 36px;">
                                <div class="row" style="margin-bottom: 30px;">
                                    {% for content in contents %}
                                        
                                            <div class="col-lg-6 col-xl-6">
                                                {% if content.approved != 'Approved' %}
                                                    <div class="card main-card mb-3" style="opacity: 50%;">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-12 d-flex align-items-center">
                                                                    <div class="not-live me-3"></div>
                                                                </div>
                                                                <div class="col-lg-4 d-lg-flex justify-content-lg-center align-items-lg-center " style="display: flex;">
                                                                    {% for c in c_profiles %}
                                                                        {% if c.user == content.user %}
                                                                            <img class="border rounded-circle" alt="" width="100px" height="100px" src="{{ c.image.url }}">
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </div>
                                                                <div class="col">
                                                                    <div>
                                                                        <div class="row">
                                                                            <div class="col-lg-12">
                                                                                {% if content.user.first_name != '' and content.user.last_name != '' %}
                                                                                    <h5>{{ content.user.first_name }} {{ content.user.last_name }}</h5>
                                                                                {% else %}
                                                                                    <h5>{{ content.user.username }}</h5>
                                                                                {% endif %}
                                                                            </div>
                                                                            <div class="col-lg-12">
                                                                                <p class="text-muted" style="margin-bottom: 0px;">{{ content.user.email }}</p>
                                                                                <p class="text-muted">{{ content.created_at }}</p>
                                                                            </div>
                                                                        </div>
                                                                        <h6>{{ content.title }}</h6>
                                                                        <p>{{ content.description }}</p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xl-12">
                                                                    <div>
                                                                        <div class="row">
                                                                            <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex align-items-center align-items-sm-center align-items-md-center align-items-lg-center align-items-xl-center align-items-xxl-center">
                                                                                {% if content.approved == 'Approved' %}
                                                                                    <span class="badge bg-success">Approved</span>
                                                                                {% elif content.approved == 'Not Approved' %}
                                                                                    <span class="badge bg-danger">Not Approved</span>
                                                                                {% else %}
                                                                                    <span class="badge bg-warning">Pending</span>
                                                                                {% endif %}
                                                                            </div>
                                                                            <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-end justify-content-sm-end justify-content-md-end justify-content-lg-end justify-content-xl-end" style="display: flex;">
                                                                                <a class="btn btn-primary" href="{% url 'content-view' content_id=content.id %}">Read Article</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% else %}
                                                    <div class="card main-card mb-3">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <div class="not-not-icon"></div>
                                                                </div>
                                                                <div class="col-lg-4 d-lg-flex justify-content-lg-center align-items-lg-center " style="display: flex;">
                                                                    {% for c in c_profiles %}
                                                                        {% if c.user == content.user %}
                                                                            <img class="border rounded-circle" alt="" width="100px" height="100px" src="{{ c.image.url }}">
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </div>
                                                                <div class="col">
                                                                    <div>
                                                                        <div class="row">
                                                                            <div class="col-lg-12">
                                                                                {% if content.user.first_name != '' and content.user.last_name != '' %}
                                                                                    <h5>{{ content.user.first_name }} {{ content.user.last_name }}</h5>
                                                                                {% else %}
                                                                                    <h5>{{ content.user.username }}</h5>
                                                                                {% endif %}
                                                                            </div>
                                                                            <div class="col-lg-12">
                                                                                <p class="text-muted" style="margin-bottom: 0px;">{{ content.user.email }}</p>
                                                                                <p class="text-muted">{{ content.created_at }}</p>
                                                                            </div>
                                                                        </div>
                                                                        <h6>{{ content.title }}</h6>
                                                                        <p>{{ content.description }}</p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xl-12">
                                                                    <div>
                                                                        <div class="row">
                                                                            <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex align-items-center align-items-sm-center align-items-md-center align-items-lg-center align-items-xl-center align-items-xxl-center">
                                                                                {% if content.approved == 'Approved' %}
                                                                                    <span class="badge bg-success">Approved</span>
                                                                                {% elif content.approved == 'Not Approved' %}
                                                                                    <span class="badge bg-danger">Not Approved</span>
                                                                                {% else %}
                                                                                    <span class="badge bg-warning">Pending</span>
                                                                                {% endif %}
                                                                            </div>
                                                                            <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-end justify-content-sm-end justify-content-md-end justify-content-lg-end justify-content-xl-end" style="display: flex;">
                                                                                <a class="btn btn-primary" href="{% url 'content-view' content_id=content.id %}">Read Article</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        
                                    {% endfor %}
                                </div>
                        </div>
                    {% endif %}
                {% else %}
                    <div>
                        <div class="row" style="margin-top: 28px;">
                            <div class="col-lg-12 d-flex justify-content-center">
                                <h1><span style="color: rgba(33, 37, 41, 0.53);">Nothing to show here</span></h1>
                            </div>
                            <div class="col-12 d-flex justify-content-center"><small>If there are any content you made, they will show here</small></div>
                            <div class="col-12 d-flex justify-content-center">
                                <small>You can also make one here, by navigating to 
                                    <a href="{% url 'create-content' %}" class="text-dark">'New Content'</a>
                                </small>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock main %}