{% extends 'users/main.html' %}
{% load form_tags %}
{% block main %}
    <div class="col-lg-11 col-md-12 col-sm-12 container p-5 main" style="padding-top: 30px;margin-top: 71px;padding-bottom: 10px;">
        <div class="row mb-5">
            <div class="col-10">
                <h4 class="text-light">Create a new content</h4>
            </div>
            <div class="col-2">
                {% if user.role == 'CONTRIBUTOR' %}
                    <h4 class="badge bg-dark text-light p-2">Contributor</h4>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 mb-5">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">What makes a content?</h6>
                        <div class="row pt-4 border-top">
                            <div class="col-12">
                                <p>
                                    Clear and Concise: Information should be presented in a straightforward and easily understandable manner.
                                </p>
                            </div>
                            <div class="col-12">
                                <p>
                                    Organized: Structured logically with headings, subheadings, bullet points, and numbered lists to guide the reader.
                                </p>
                            </div>
                            <div class="col-12">
                                <p>
                                    Engaging: Written in an engaging style that maintains the reader's interest, using examples, anecdotes, and rhetorical questions.
                                </p>
                            </div>
                            <div class="col-12">
                                <p>
                                    Accurate: Factually correct and up-to-date, with references to credible sources.
                                </p>
                            </div>
                            <div class="col-12">
                                <p>
                                    Comprehensive: Covers the topic thoroughly, addressing different aspects and providing a complete understanding.
                                </p>
                            </div>
                            <div class="col-12">
                                <p>
                                    Interactive: Incorporates questions, exercises, and prompts for reflection to involve the reader actively.
                                </p>
                            </div>
                            <div class="col-12">
                                <p>
                                    Relevant: Tailored to the audience's needs and interests, using language and examples appropriate for their level of knowledge and experience.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title mb-3">Content</h6>
                        <div class="content">
                            <form method="POST" class="mb-3">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-3">
                                        <div class="d-flex justify-content-start">
                                            <label for="{{ form.title_for_label }}" class="form-control-label">{{ form.title.label }}</label>
                                        </div>
                                        {% if form.title.errors %}
                                            <div class="">{{ form.title|add_class:"form-control form-control-sm is-invalid" }}</div>
                                            <div class="invalid-feedback">
                                                {% for error in form.title.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            <div>{{ form.title|add_class:"form-control form-control-sm" }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-3">
                                        <div class="d-flex justify-content-start">
                                            <label for="{{ form.description_for_label }}" class="form-control-label">{{ form.description.label }}</label>
                                        </div>
                                        {% if form.description.errors %}
                                            <div class="">{{ form.description|add_class:"form-control form-control-sm is-invalid" }}</div>
                                            <div class="invalid-feedback">
                                                {% for error in form.description.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            <div>{{ form.description|add_class:"form-control form-control-sm" }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-3">
                                        <div class="d-flex justify-content-start">
                                            <label for="{{ form.categories_str_for_label }}" class="form-control-label">Categories</label>
                                        </div>
                                        {% if form.categories_str.errors %}
                                            <div class="">{{ form.categories_str|add_class:"form-control form-control-sm is-invalid" }}</div>
                                            <div class="invalid-feedback">
                                                {% for error in form.categories_str.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            <div>
                                                {{ form.categories_str|add_class:"form-control form-control-sm mb-2" }}
                                                
                                                {% if form.categories_str %}
                                                    {% for category in form.categories_str.value|split:"," %}
                                                        <span class="badge bg-dark">{{ category }}</span>
                                                    {% endfor %}
                                                {% else %}
                                                    <span class="badge bg-dark">No category</span>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-3">
                                        <div class="d-flex justify-content-start">
                                            <label for="{{ form.content_for_label }}" class="form-control-label">{{ form.content.label }}</label>
                                        </div>
                                        {% if form.description.errors %}
                                            <div class="">{{ form.content|add_class:"form-control form-control-sm is-invalid" }}</div>
                                            <div class="invalid-feedback">
                                                {% for error in form.content.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            <div>{{ form.content|add_class:"form-control form-control-sm" }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Update content</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}