{% extends 'users/main.html' %}
{% block title %}
    {% if title %}
        <title>{{ title }} | {{ user }}</title>
    {% else %}
        <title>Scholarly | Dashboard</title>
    {% endif %}
{% endblock title %}
{% block main %}
    <div class="col-lg-11 col-md-12 col-sm-12 container main">
        <div class="row mb-5">
            <div class="col-12 mb-2">
                {% if messages %}
                    {% for message in messages %}
                        <div class="mt-2 mb-2 alert alert-{{ message.tags }}">
                            <small>{{ message }}</small>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-10">
                <h4>Dashboard</h4>
            </div>
            <div class="col-2">
                {% if user.role == 'STUDENT' %}
                    <h4 class="badge bg-warning text-light p-2">Student</h4>
                {% else %}
                    <h4 class="badge bg-dark text-light p-2">Contributor</h4>
                {% endif %}
            </div>
        </div>
        {% if user.role == 'CONTRIBUTOR' %}
        <!-- Contributor cards -->
            <div class="row">
                <div class="col-lg-6 col-sm-12 mb-sm-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Notifications</h5>
                            <div class="content">
                                {% if notifications is not None %}
                                    {% for c in notifications %}
                                        <div class="card mb-1 p-0">
                                            <div class="card-body p-0" style="overflow-x: hidden;">
                                                <div class="row d-flex">
                                                    <div class="col-1"></div>
                                                    <div class="col-10">
                                                        <small>{{ c }}</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="text-muted text-center">
                                        <h6>You have no notifications</h6>
                                        <p>If you have any notifications, they will appear here</p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 mb-sm-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Tasks</h5>
                            <div class="content">
                                {% if tasks is not None %}
                                    {% for c in tasks %}
                                        <div class="card mb-3">
                                            <div class="card-body">
                                                {{ c }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="text-muted text-center">
                                        <h6>You have no tasks</h6>
                                        <p>If you have any tasks, they will appear here</p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-10">
                                    <h5 class="card-title mb-3">Content</h5>
                                </div>
                                <div class="col-2 mb-3">
                                    <a href="#" class="btn btn-sm btn-outline-dark">Show all</a>
                                </div>
                            </div>
                            <div class="content">
                                {% if content is not None %}
                                    {% for c in content %}
                                        <div class="card mb-3">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-11">
                                                        {{ c.title }}
                                                    </div>
                                                    <div class="col-1">
                                                        <a class="btn btn-sm btn-outline-dark" href="{% url 'content-view' content_id=c.id %}">View</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="text-center text-muted mb-5">
                                        <h6 class="display-4">Nothing to show here.</h6>
                                        <p class="text-muted">By clicking 'Add content' below, you will be creating new content for your audience</p>
                                        <p class="text-muted">When you have successfully created content, your content will appear in this card</p>
                                    </div>
                                {% endif %}
                                <div class="text-center">
                                    <a href="{% url 'create-content' %}" class="text-dark add-btn">
                                        <span class="material-symbols-outlined">
                                            add_circle
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
        <!-- Student cards -->
        {% endif %}
    </div>
</div>
{% endblock main %}