{% extends 'users/auth_layout.html' %}
{% load form_tags %}
{% block title %}
    Request password reset
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-5 col-sm-12">
                <div class="card mt-5">
                    <div class="card-body">
                        <h4 class="card-title">Request password reset</h4>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="mt-2 mb-2 alert alert-{{ message.tags }}">
                                    <small>{{ message }}</small>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <form method="POST" class="mb-5">
                            {% csrf_token %}
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-3">
                                <div class="d-flex justify-content-start">
                                    <label for="{{ form.email_for_label }}" class="form-control-label">{{ form.email.label }}</label>
                                </div>
                                {% if form.description.errors %}
                                    <div class="">{{ form.email|add_class:"form-control form-control-sm is-invalid" }}</div>
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <div>{{ form.email|add_class:"form-control form-control-sm" }}</div>
                                {% endif %}
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}