.main-window::-webkit-scrollbar, .sidebar::-webkit-scrollbar,
.main::-webkit-scrollbar, main::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

.main-window {
    height: 100vh;
    width: 100vw;
}

.main {
    overflow-y: scroll;
}

.logo {
    width: 90%;
    border: 1px solid black;
}

.icon {
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

body, main {
    height: 100vh;
    width: 100vw;
    max-width: 1960px;
}

.sidebar {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.navigation {
    height: 80vh;
    width: 150%;
    overflow-y: scroll;
}

.navigation::-webkit-scrollbar {
    display: none;
}

.icon:hover {
    scale: 0.9;
    background-color: #000020;
    transition: 0.5ms ease-in-out;
}

.profile-container:hover {
    scale: 0.9;
    transition: 0.5ms ease-in-out;
}

.profile-container {
    height: 20vh;
    width: 100vw;
}
